     <script>
        // The connection url below is available in the GoInstant dashboard. It includes your Account Name
        // and Application Name (you created both when signing up). This url tells GoInstant where your
        // application and account are located in order to connect.
         
        var url = 'https://goinstant.net/mattparkerls/SnapChatter';
        goinstant.connect(url, function (err, connection, lobby) {
          if (err) {
            // Could not connect to GoInstant
            throw err;
          }
         
          // You are now connected!
        });
        // The listener will be invoked every time the value of name is changed
        // by another user
        var name = lobby.key('name');
        var el = $('input[name="name"]');
         
        name.on('set', function(value, context) {
          el.val(value);
        });
         
        el.on('keyup', function() {
          name.set($(this).val());
        });
  </script>
 
  <body>
    <div>
      <form action="#">
        <input type="text" name="name" id="sync" />
      </form>
    </div>
   </body>
