    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="../vendor/assets/stylesheets/normalize.css">
        <link rel="stylesheet" href="../vendor/assets/stylesheets/main.css">
        <script src="../vendor/assets/javascripts/modernizr-2.6.2.min.js"></script>
    </head>

<script type="text/coffeescript">
</script>

<body>

<div class="container">

	<div class="row">
		  <div class="span3">                 
            </div> 
            
                <div class="span3">
                            
                    <h1 class="page-title">Pick a Pig</h1>
                                        
                <div class="widget">

                	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner">
						    <div class="item active">
						      <img src="http://www.wellnesssecrets4u.com/wp-content/uploads/2012/02/pig--1024x682.jpg" height="400" width="600" alt="0">
						      <div class="carousel-caption">
						        <h3> Fine? </h3>
						        <p>...or Swine?</p>
						      </div>
						    </div>
						    <div class="item">
						      <img src="http://upload.wikimedia.org/wikipedia/commons/2/26/Truffe_noire_du_P%C3%A9rigord.jpg" height="400" width="600" alt="0">
						      <div class="carousel-caption">
						        <h3> Fine? </h3>
						        <p>...or Swine?</p>
						      </div>
						    </div>
						    <div class="item">
						      <img src="http://25.media.tumblr.com/tumblr_md22kl7DXP1qdp483o1_1280.png" height="400" width="600" alt="0">
						      <div class="carousel-caption">
						        <h3> Fine? </h3>
						        <p>...or Swine?</p>
						      </div>
						    </div>
						    ...
						  </div>


						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left"></span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right"></span>
						  </a>
						</div>

                                 <div class="form-actions" >
                                    <button type="button" class="btn btn-default"> Not</button>
                                    <button type="button" class="btn btn-default"> Hot</button>
                                </div> 

                            </div> 
                                                   
	</div> 

	</div>


</div>


</body>