<%# add navigation links to this file %>
<li><%= link_to 'Chatty Cathy', page_path('about') %></li>
<%# add navigation links to this file %>
<li><%= link_to 'The Trough', page_path('troughMain') %></li>
